.footer {
    background: #000;
    color: white; /* טקסט בצבע לבן */
  }
  
  .footer h4 {
    margin-bottom: 15px; /* ריווח תחתון לכותרת */
  }
  
  .footer ul {
    padding: 0;
    list-style: none; /* ביטול תבליטים */
  }
  
  .footer a {
    color: white;
    text-decoration: none; /* ביטול קו תחתון */
  }
  
  .footer a:hover {
    text-decoration: underline; /* הוספת קו תחתון בהובר */
  }
  
  .text-center {
    text-align: center;
  }
  
  .container {
    max-width: 1200px; /* רוחב מקסימלי */
    margin: 0 auto; /* מרכז */
  }
  
  .mt-4 {
    margin-top: 1.5rem; /* מרווח עליון */
  }
  