.header1 {
  direction: ltr;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  padding: 10px 20px;
  position: relative;
}

.header .logo img {
  height: 55px;
  width: auto;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.hamburger .line {
  width: 100%;
  height: 3px;
  background: #fff;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.menu li {
  color: #fff;
  cursor: pointer;
}

.menu a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
}

.menu a:hover {
  background-color: #f0a500;
  color: #000;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
    z-index: 1001; /* חשוב שהכפתור יופיע מעל */
  }

  .menu {
    display: none;
    flex-direction: column-reverse;
    position: absolute; /* ✅ שיהיה מעל הכל */
    top: 60px;
    right: 0;
    background: #000;
    width: 70vw;
    height: auto;
    padding: 10px 0;
    z-index: 1000; /* מעל הקנבס */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  }

  .menu.open {
    display: flex;
  }

  .menu li {
    text-align: right;
    width: 100%;
  }

  .menu a {
    padding: 15px 20px;
    display: block;
    color: white;
  }
}
