# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Env & Secrets
.env
secret.js

# VSCode
.vscode/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Production builds (אם תוסיף בעתיד)
dist/
build/

