/*   */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f6f9;
  direction: rtl;
  height: 100%;
  overflow-x: hidden;
}

/*  拽专 专砖 */
.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.btn{
  color: rgb(10, 9, 9);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/*  Header - 拽注 专砖 祝 */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d2d2d;
  color: white;
  padding: 10px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.header h4 {
  font-size: 22px;
  font-weight: bold;
  color: #131313;
  margin: 0;
}

.header h5 {
  font-size: 14px;
  color: #131313;
  margin: 0;
}

/*  驻转专 爪 */
.logout-button .btn {
  background-color: #e84118;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
margin-left: 40px;}

.logout-button .btn:hover {
  background-color: #c23616;
}

/*   专砖 (Sidebar + 转) */
.main-wrapper {
  display: flex;
  flex-grow: 1;
  margin-top: 60px; /*  -Header */
}

/*  Sidebar - 转驻专 爪 拽注 */
.sidebar1 {
  direction: ltr;
  position: fixed;
  top: 70px; /*   注转 注 -Header */
  right: 0;
  width: 250px;
  height: calc(100vh - 60px);
  background-color: #333;
  padding-top: 20px;
  overflow-y: auto;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
}

/* 驻转专 转驻专 爪 */
.sidebar1 .nav-item {
  padding: 10px 15px;
  border-bottom: 1px solid #444;
}

.sidebar1 .nav-item button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  width: 100%;
  text-align: right;
  padding: 12px 15px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.sidebar1 .nav-item button:hover {
  background-color: #555;
}

/*  注爪 转 专 */
.main-content {
  margin-top: 60px;  
  flex-grow: 1;
  margin-right: 260px;
  padding: 20px;
  background-color: #f8f9fa;
  min-height: 100vh;
  text-align: center;
  width: 1140px;
}

/*  驻转专 注专 住住拽转 */
.stats-button {
  background-color: #0097e6;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.stats-button:hover {
  background-color: #007bbd;
}

/*  转 专住驻住转 */
@media (max-width: 768px) {
  .sidebar1 {
      width: 200px;
  }

  .main-content {
      margin-right: 210px;
  }

  .header1 h4 {
      font-size: 18px;
  }

  .header1 h5 {
      font-size: 12px;
  }
}

@media (max-width: 600px) {
  .sidebar1 {
      position: absolute;
      width: 200px;
      height: 100%;
      z-index: 100;
      box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .main-content {
      margin-right: 0;
      padding: 15px;
  }

  .sidebar1 .nav-item button {
      font-size: 14px;
      padding: 10px;
  }
}
